@import "bourbon";
@import "vars";

/*==========  Desktop First  ==========*/

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px) {
	/**/
}


/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {
    body {
        min-width: 320px; 
        
        /*reset classe*/
        .container-fluid { 
            padding-right: 0px !important; 
            padding-left: 0px !important; 
            margin-right: 0px !important; 
            margin-left: 0px !important; 
        }
        
        .col-sm-12, .col-xs-12 {
            padding-right: 0px !important; 
            padding-left: 0px !important;     
        }
        
        .row {
            margin-right: 0 !important; 
            margin-left: 0 !important;
        }
        
        .wrapper {
            
            
            header {
                display: none;
            }
            
            
            // mobile 
            $mTopBarHeight: 50px;
            
//            top menu
            .navbar-fixed-top {
                
                margin-top: 0px !important;
                height: $mTopBarHeight;
                z-index: 1000;
                    
                h3 {
                    position: absolute;
                    left: 5%;
                    top: -5px;
                    font-family: robotoBold !important;
                }

                a {
                    height: 34px;
                }
                    
                .navbar-toggle {
                    border-color: #e7e7e7;
                    display: block;
                    
                    .icon-bar {
                        background-color: #858e91;
                    }
                }  
            }
            
            .navmenu-fixed-left {
                z-index: 1600;
                width: 260px !important;
                height: 100% !important;
                box-shadow: 1px 0px 20px 1px black !important;
                top: 0px !important;

                overflow: scroll !important;
                
                

                .logo {
                    
                    a {
                        
                        img {
                            width: $logo_width - 50px !important;
                            height: $logo_height - 50px !important;
                            top: 15px !important;
                            left: 30% !important;
                        }
                    }
                }
                
                hr {
                    margin-top: 30px !important;
                }

                ul {  
                    .last {
                            margin-bottom: 50px !important;
                        }
                                        
                    ul {
                        background-color: $bg_color; 
                        margin-top: 0;
                        // margin-left: 50px !important;
                    }
                }
            
            }

            .navbar {
                margin-bottom: 0px !important;
            }
        
            section {

                margin-top: 50px !important;

                .demo-gallery {

                    
                    display: flex;
                    max-width: 100%;
                    flex-wrap: wrap;
                    align-content: stretch;
                    z-index: 4000;

                    a {
                        margin: 0 auto !important;
                        

                        

                        figure {
                            margin-top: 5px;
                            margin-bottom: 15px;
                           
                        }
                    }
                }
                
                
                .news {
                    
                    .item {
                       
                    }
                }

                .info-block {
                    
                    .input-group {
                        input {
                           height: 45px;
                        }
                        
                    }

                    .for-textarea {
                        


                        span {
                            button {
                                height: 214px;  
                            }
                            
                        }
                    }
                }
            }
                
                

        }  /*end wrapper */
        
        footer {
            
            box-sizing: border-box;
           
            
            z-index: 1400;
           
        } /*end footer */     
    }  /*end body  */    
} /*end media < 992 px */


/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {
	
}


/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px) {

    
	footer {
            ul {
                left: 70px !important;
            }
    } /*end footer */ 
}


/* Custom, iPhone Retina */
@media only screen and (max-width : 320px) {
	/**/
    footer {
            ul {
                left: 70px !important;
            }
    } /*end footer */     

}


/*==========  Mobile First  ==========*/

/* Custom, iPhone Retina */
@media only screen and (min-width : 320px) {
	/**/
}


/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px) {
	/**/
}


/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {
	/**/
}


/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {
	/**/
}


/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {
	/**/
}

