@import "bourbon";

$font_family_1: "roboto", sans-serif;
$accent: orange;

//colors
$bg_color: #FFC235;
$border_color: #FFAD00;
$content_color: #FFFABC;
$footer_color: #8e8787;

$color_placeholder: gray;
$opacity_placeholder: 1.0;

//for line element
$font_color_main: #000000;
$link_color: #494444;
$active_a: #A00E0E;

//sizes
$logo_width: 150px;
$logo_height: 150px;

//fonts
$font_main: 80px;
$font_title: 60px;
$font_big: 16px;
$font_normal: 14px;
$font_family_1: roboto;//'Russo One', sans-serif;


